@import "main-styles";

.mat-cell {
  max-height: 1.2rem;

  &:first-of-type {
    flex: 0.2 0;
  }
}

.mat-header-cell {
  text-transform: capitalize;
  font-size: 1rem;

  &:first-of-type {
    flex: 0.2 0;
  }
}

.mat-header-row {
  background: $color-alto;
  cursor: default;
}

.mat-row {
  cursor: pointer;

  &:hover {
    background-color: darken($color-whisper, 20%);
  }

  &.active {
    background-color: darken($color-whisper, 20%);
  }
}

.product-table {

  &__description {
    @extend .ellipsis;
  }
}
