@import "main-styles";

:root {
  .mat-cell {
    max-height: 1.2rem;

    &:first-of-type {
      flex: 0.2 0;
    }
  }

  .mat-header-cell {
    text-transform: capitalize;
    font-size: 1rem;

    &:first-of-type {
      flex: 0.2 0;
    }
  }

  .mat-header-row {
    background: $color-alto;
    cursor: default;
  }

  .mat-row {
    cursor: pointer;

    &:hover {
      background-color: darken($color-alto, 20%);
    }

    &.active {
      background-color: darken($color-alto, 20%);
    }
  }
}

.product-table {
  height: 80%;

  &__description {
    @extend .ellipsis;
  }
}
